<%= form_for(@patient) do |f| %>
  <%= render partial: "shared/error_msg", locals: { record: @patient, record_name: 'patient' } %>

  <%= render partial: "shared/person_form", locals: { form: f, person: @patient } %>
  <div class="field">
    <%= f.label :ailment %><br>
    <%= f.select :ailment, options_for_select(ailment_options, @patient.ailment) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
