<%= form_for(@doctor) do |f| %>
  <%= render partial: "shared/error_msg", locals: { record: @doctor, record_name: 'doctor' } %>
  <%= render partial: "shared/person_form", locals: { form: f, person: @doctor } %>
  <div class="field">
    <%= f.label :specialty %><br>
    <%= f.select :specialty, options_for_select(specialty_options, @doctor.specialty) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
