<p id="notice"><%= notice %></p>

<h1>
  appointment
</h1>

<p>
  <strong>Doctor Name:</strong>
  <%= @appointment.doctor.name %>
</p>

<p>
  <strong>Doctor Address:</strong>
  <%= @appointment.doctor.address %>
</p>

<p>
  <strong>Patient Name:</strong>
  <%= @appointment.patient.name %>
</p>

<p>
  <strong>Appointment Time:</strong>
  <%= @appointment.formatted_appointment_date %>
</p>
